{% extends 'base.html' %}

{% block title %}index{% endblock %}


{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
             <p>{{ message }} </p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="title">
        <h2> Flask todo list </h2>
    </div>


    <div class="index-content">
        <h1>Simple to-do lists</h1>
        <p><a href="{{ url_for('create_list', url=url) }}">Create a to-do list</a></p>
        <p>No sign up required</p>
    </div>

    <!-- <form action="", method="post" autocomplete="off" novalidate=True >
        <div class="input-box">
            <input type="text" name="Message" placeholder="Write your text here..." autofocus> 
        </div>
    </form> -->

        
{% endblock %}