{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
{% endblock %}

{% block content %}

<div class="flask-msg">
    <p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <p>{{ message }} </p>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </p>
</div>
<div class="box-2">
	<h1>Sign up</h1>
    <form action="{{ url_for('signup', url=url) }}" method="post">
		<input type="email" name="email" placeholder="Email" required="required" /><br>
        <input type="password" name="password" placeholder="Password" required="required" /><br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Sign me up.</button>
    </form>
</div>

{% endblock %}