{% extends "base.html" %}
{% block title %}home{% endblock %}


{% block content %}



<!-- Main content section starts  -->

<div class="main-content">
    <div class="wrapper">

        <h1>Manage Order</h1> <br>



        <br><br>

        <!-- manage orders table -->

        <table class="tbl-full">
            <tr>
                <th>S.N</th>
                <th>Items</th>
                <th>Price</th>
                <th>Qty</th>
                <th>Total</th>
                <th>Order Date</th>
                <th>Status</th>
                <th>Customer Name</th>
                <th>Contact</th>
                <th>Email</th>
                <th>Address</th>
                <th>Actions</th>

            </tr>

            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>
                <a href="" class="secondary-btn">Update Order</a>
            </td>

            </tr>

        </table>

    </div>

</div>

<!-- Main content section ends  -->



<!-- Footer section starts  -->

{% endblock %}

<!-- Footer section ends  -->