{% extends "base.html" %}
{% block title %}Update Admin{% endblock %}



{% block content %}
<!-- Main content section starts  -->

<div class="main-content">
    <div class="wrapper">

        <h1>Change Password</h1> <br>

        <br>


        <!-- change password table -->
        <form action="{{url_for('admin.manage-admin.change_password')}}" method="POST">

            <table class="tbl-50">

                <tr>
                    <td>Current Passowrd :</td>
                    <td> <input class="input" type="text" name="current_password" value="{{current_admin['password']}}">
                    </td>

                </tr>

                <tr>
                    <td>New Password :</td>
                    <td> <input class="input" type="text" name="new_password" placeholder="New Password"> </td>

                </tr>

                <tr>
                    <td>Confirm Password :</td>
                    <td> <input class="input" type="password" name="confirm_password" placeholder="Confirm Password">
                    </td>

                </tr>

                <tr>

                    <td colspan='2'>
                        <input type="hidden" name="username" value="{{current_admin['username']}}" class="submit-btn">

                        <input type="submit" name="submit" value="Change Password" class="submit-btn">
                    </td>

                </tr>

            </table>

        </form>

    </div>

</div>

<!-- Main content section ends  -->

{% endblock %}